Production
{{ port }}
/home/chstansbury/src/Chess-Engine/src/engine
/home/chstansbury/src/SchemeREPL/SchemeREPL
/home/chstansbury/src/wobsite/res/dom.jar
{{ project_root }}res/.java.policy
{{ project_root }}config/record
{{ project_root }}config/
